<h1 id="tableLabel">Conteiners</h1>
<p>Lista de conteineres cadastrados</p>

<a class="float-right nav-link pr-2 pb-3" [routerLink]="['/new']">Inserir novo</a>
<table class='table table-striped' aria-labelledby="tableLabel">
  <thead>
    <tr>
      <th>Identificacao</th>
      <th class="tx-align-center">Capacidade</th>
      <th class="tx-align-center">Tipo Operacao</th>
      <th class="tx-align-center" colspan="2">Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let conteiner of conteiners">
      <td>{{ conteiner.number }}</td>
      <td class="tx-align-center">{{ conteiner.capacity }}</td>
      <td class="tx-align-center">{{ toMessageType(conteiner.operation) }}</td>
      <td class="tx-align-right">
        <a class="nav-link" routerLink='/edit/{{conteiner.number}}'>Editar</a>
      </td>
      <td>
        <a class="nav-link" routerLink='' (click)="confirmDelete(conteiner)">Excluir</a>
      </td>
    </tr>
  </tbody>
</table>